.suggestions{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
   grid-gap: 0;
   
}
h3{
   margin-left: 50px;
   color: aliceblue;
   font-family: cursive;
   width: 70%;

}
.img{
   margin-left: 50px;
}

@media(max-width:425px){
   .suggestions{
      display: block;
   }

}