p{
    margin-left:50px;
    margin-right:50px;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;
    overflow: auto;

}
.image{
    float: left;
    height: 25vh;
}
.elon{
    font-size: 20px
}