.selectSearch{
    text-align: center;
    zoom: 3
}

.result{
    border: 5px solid lightblue;
    border-radius:3%;
    margin:20px;
    
}

.iframe{
    margin-left: 50px;
    width:70%;
    height:60vh;
}

