.welcome {
	outline: none;
    /* position: relative; */
    margin: auto;
	font-size: 4em;
	line-height: 1;
	color: darkgray;
    display: block;
	text-align: center;
	margin: auto;
	margin-top: 20vh
}

.welcome:hover {
	color: #5a9b05;
}

.name {
	outline: none;
    /* position: relative; */
    margin: auto;
	font-size: 4em;
	line-height: 1;
	color: darkgray;
    display: block;
	text-align: center;
	margin: auto;
	
}

.name:hover {
	color: #5a9b05;
}

